@charset "utf-8";
@import '_mixin.scss';

body {background: #b3d8e8;}
header{
    .header_warp{
        position: relative;
        z-index:3;
        h1{}
        .menu{
            // position: relative;
            .tgl_bg{
                position: fixed; right: 0;top: 0;
                width: 100%;
            } 
            .tgl_bg svg{
                @include absolute(right,0,top,0);
                transition: .75s;
            }
            .tgl_btn{
                position: absolute; right: 15.5%; top: 5%;
                width: 3%;
            }
            .tgl_btn .tgl_open{
                            }
            .tgl_btn .tgl_open img{width: 100%;}
            .tgl_btn .tgl_close{
                transition: 0.5s;
                // transform: translate(-110%, 600%)
            }
            .tgl_btn .tgl_close span{
                display: inline-block;
                width: 100%;
                height: 2px;
                background: #b3d8e8;
            }
            .tgl_btn .tgl_close span:nth-child(1){
                transform: rotate(45deg)
            }
            .tgl_btn .tgl_close span:nth-child(2){
                transform: rotate(-45deg)
            }
        }

    }
}
.menubox{
    position: absolute;
    top: 13%; right: 4%;
    width: 383px;
    height: 361px; 
    border-radius: 200px;
    background: #fff;
    opacity: 0;
    ul{
        // display: none;
    }
}
// .menubox.active{
//     animation: big 0.5s 0.1s forwards linear;
// }
.menubox.close{
    animation: big 0.5s reverse linear;
}
