h1, h2, h3, h4, h5, h6, ul, li, div, html, header, body, main, p, section, figure, figcaption, footer, article, iframe, input, textarea, button, nav, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

*, a, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes goup {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes goup {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes big {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 1;
  }
}

@keyframes big {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 1;
  }
}

@-webkit-keyframes small {
  0% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes small {
  0% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes menuList {
  0% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes menuList {
  0% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

body {
  background: #b3d8e8;
}

header .header_warp {
  position: relative;
  z-index: 3;
}

header .header_warp .menu .tgl_bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

header .header_warp .menu .tgl_bg svg {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .75s;
  transition: .75s;
}

header .header_warp .menu .tgl_btn {
  position: absolute;
  right: 15.5%;
  top: 5%;
  width: 3%;
  background-color: aqua;
}

header .header_warp .menu .tgl_btn .tgl_open {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

header .header_warp .menu .tgl_btn .tgl_open img {
  width: 100%;
}

header .header_warp .menu .tgl_btn .tgl_close {
  z-index: -1;
  width: 30px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: 0;
  top: 0;
}

header .header_warp .menu .tgl_btn .tgl_close span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #b3d8e8;
}

header .header_warp .menu .tgl_btn .tgl_close span:nth-child(1) {
  -webkit-transform: translateY(100%) rotate(45deg);
          transform: translateY(100%) rotate(45deg);
}

header .header_warp .menu .tgl_btn .tgl_close span:nth-child(2) {
  -webkit-transform: translateY(-1000%) rotate(-45deg);
          transform: translateY(-1000%) rotate(-45deg);
}

.menubox {
  position: absolute;
  top: 13%;
  right: 4%;
  width: 383px;
  height: 361px;
  border-radius: 200px;
  background: white;
  opacity: 0;
}

.menubox ul li {
  position: absolute;
  top: 20vh;
  left: 25%;
  opacity: 0;
}

.menubox ul li a {
  font-size: 0.6rem;
}

.menubox ul li:nth-of-type(1).active {
  top: calc(20vh + (1 - 1)*1.5vh);
  -webkit-animation: menuList 0.5s forwards linear;
          animation: menuList 0.5s forwards linear;
  -webkit-animation-delay: calc(1*0.5s);
          animation-delay: calc(1*0.5s);
}

.menubox ul li:nth-of-type(2).active {
  top: calc(20vh + (2 - 1)*1.5vh);
  -webkit-animation: menuList 0.5s forwards linear;
          animation: menuList 0.5s forwards linear;
  -webkit-animation-delay: calc(2*0.5s);
          animation-delay: calc(2*0.5s);
}

.menubox ul li:nth-of-type(3).active {
  top: calc(20vh + (3 - 1)*1.5vh);
  -webkit-animation: menuList 0.5s forwards linear;
          animation: menuList 0.5s forwards linear;
  -webkit-animation-delay: calc(3*0.5s);
          animation-delay: calc(3*0.5s);
}

.menubox ul li:nth-of-type(4).active {
  top: calc(20vh + (4 - 1)*1.5vh);
  -webkit-animation: menuList 0.5s forwards linear;
          animation: menuList 0.5s forwards linear;
  -webkit-animation-delay: calc(4*0.5s);
          animation-delay: calc(4*0.5s);
}

.menubox ul li:nth-of-type(5).active {
  top: calc(20vh + (5 - 1)*1.5vh);
  -webkit-animation: menuList 0.5s forwards linear;
          animation: menuList 0.5s forwards linear;
  -webkit-animation-delay: calc(5*0.5s);
          animation-delay: calc(5*0.5s);
}

.menubox ul li:nth-of-type(6).active {
  top: calc(20vh + (6 - 1)*1.5vh);
  -webkit-animation: menuList 0.5s forwards linear;
          animation: menuList 0.5s forwards linear;
  -webkit-animation-delay: calc(6*0.5s);
          animation-delay: calc(6*0.5s);
}
/*# sourceMappingURL=common.css.map */